<div class ="row">
  <div class ="col-md-9">
      <% content_for :title do %>RSVP<% end %>
      <h3>RSVP</h3>
    <div class="form col-md-6">
      <%= simple_form_for :contact, url: rsvp_path do |form| %>
      <%= form.input :name, autofocus: true %>
      <%= form.input :email %>
      <%= form.input :content, as: :text %>
      <%= form.button :submit, 'Submit', class: 'submit' %>
      <% end %>
    </div>    
</div>

