<div class ="row">
  <div class ="col-md-3">
  </div>
  <div id="rsvp" class ="col-md-6">
      <% content_for :title do %>RSVP<% end %>
      <h3>RSVP</h3>
    <div class="form">
      <%= simple_form_for :contact, url: rsvp_path do |form| %>
        <%= form.input :first_name, autofocus: true %>
        <%= form.input :last_name, autofocus: true %>
        <%= form.input :email_address %>
        <%= form.input :plus_one?, autofocus: true %>
        <%= form.input :guest_name, autofocus: true %>
        <%= form.input :message_for_the_bride_and_groom_, as: :text %>
        <%= form.button :submit, 'Submit', class: 'submit' %>
      <% end %>
    </div> 
  </div>
   <div class = "col-md-3">
    </div>
</div>

